<!DOCTYPE HTML>
<html>
<head>
<title>Google Contact Import</title>
</head>
<body>
<a  href="https://accounts.google.com/o/oauth2/auth?
client_id=69648460507-tsfapluffjjd46u3efl6qe1fjtd9r3c4.apps.googleusercontent.com
&amp;redirect_uri=http://localhost:8083/contacts/import&amp;
scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.profile%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcontacts%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdirectory.readonly&amp;response_type=code">Import contacts</a>
</body>
</html>